%table.table.table-striped
  %thead
    %tr
      %th Messages
  %tbody
    -unless @messages.blank?
      -@messages.each do |message|
        %tr
          %td
            = message.content

=link_to "New Message", new_message_path, class: 'btn btn-primary'