.jumbotronabout
.about
	.aboutwrapper
		%h1 About Documint
		%h2 Mission
		%p Documint was created to solve problems associated with traditional business documentation practices. We found that many businesses had no process for documentation, and those that did often experienced frustration from processes that were too complex, time consuming, or difficult to implement. After all, what's the point of having a documentation system if no one uses it?
		%h2 Solution
		%p To solve these problems we set out to build a documentation system that was intuitive, fast, and accessible from anywhere. Our mission at Documint is to save you time so that you can focus on your business.