.features
	%h1 Process Documentation Made Easy.
	.row.feature
		.col-md-6
			%h2#feature1 Optimized process template
			%p Don't waste time fiddling with a word processor. Our template allows you to focus on what's important, the information.
		.col-md-6
			= image_tag('doc.png', height: '500')
	.row.feature
		.col-md-6
			= image_tag('format.png', height: '600')
		.col-md-6
			%h2#feature2 Easy to read formatting
			%p Documentation doesn't have to be boring and hard to read. Our pre-formatted document layout highlights important information that's also easy on the eyes.
	.row.feature
		.col-md-6
			%h2#feature3 Categories to stay organized
			%p It's easy to become overwhelmed by all of your documentation. Easy to use categories make finding the right documentation a snap.
		.col-md-6
			= image_tag('cats.png', height: '200')
