<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div id="jumbo-title">
      <h1>Simple process documentation.</h1>
    </div>
    <p><a href="/signup" class="btn btn-primary btn-lg" role="button">Try Documint Free &raquo;</a></p>
  </div>
</div>

<!-- Example row of columns -->
<div class="row" id="box">
  <div class="col-md-4" id="box1">
    <span class="glyphicon glyphicon-time"></span>
    <h2>Create documentation in seconds.</h2>
    <p>Documint makes it easy to create step-by-step documentation. Our pre-formatted templates save you time by letting you focus on what's important.</p>
  </div>
  <div class="col-md-4" id="box2">
    <span class="glyphicon glyphicon-transfer"></span>
    <h2>Collaborate and share with your team.</h2>
    <p>Other members of your team can easily access documentation specific to their department. The info you need is only a click away.</p>
  </div>
  <div class="col-md-4" id="box3">
    <span class="glyphicon glyphicon-cloud"></span>
    <h2>Access your documentation anywhere.</h2>
    <p>Save time by accessing the information you need, when you need it. Anywhere you have internet, you have access to your documentation.</p>
  </div>
</div>
<div class="row"  id="laptop">
  <div class="col-md-6 text-center" id="checks">
    <p class="check"><span class="glyphicon glyphicon-ok"></span>Nothing to setup</p>
    <p class="check"><span class="glyphicon glyphicon-ok"></span>Get started in minutes</p>
    <p class="check"><span class="glyphicon glyphicon-ok"></span>Free 30 Day Trial</p>
  </div>
  <div class="col-md-6 text-center">
    <%= image_tag('laptop.png') %>
  </div>
</div>
<div class="row" id="how">
  <h2>How it works</h2>
  <div class="col-md-4">
    <div class="howicon">
      <span class="glyphicon glyphicon-file"></span>
    </div>
    <p>Use a template to create your process document.</p>

  </div>
  <div class="col-md-4">
    <div class="howicon">
      <span class="glyphicon glyphicon-list-alt"></span>
    </div>
    <p>Add the invididual process steps.</p>

  </div>
  <div class="col-md-4">
    <div class="howicon">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </div>
    <p>Access your documentation and share with team members.</p>

  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-5 text-center">
    <a href="/signup" class="btn btn-primary btn-lg" role="button">Try Documint Free</a>
  </div>
</div>
